@page "/Journals"
@attribute [Authorize(Roles = "Patient")]

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>@titel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>@infotext</h4>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <table class="table text-center table-hover">
                <thead>
                    <tr>
                        <th style="width: 30%">Oprettet Dato</th>
                        <th style="width: 60%">Intro</th>
                        <th style="width: 10%">Noter</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var journal in journals)
                    {
                        <tr>
                            <td>@journal.CreationTime</td>
                            <td>@journal.Intro</td>
                            <td><a href="/journal/@journal.JournalId"><i class="fas fa-notes-medical"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@code{
    string titel = "Dine Journaler";
    string infotext = "Her kan du se dine journaler";
    string tablehead1 = "Oprettet Dato";
    string tablehead2 = "Intro";
    string tablehead3 = "Noter";

    private List<JournalModel> journals;

    protected override async Task OnInitializedAsync()
    {
    }
}