@page "/Administration"
@layout AdminLayout

<div class="h-100 container">
    <div class="h-100 row align-items-center">
        <div class="col-lg-12 text-center">
        </div>
    </div>
</div>




