@page "/"

@if (error)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}


<div class="h-100 container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
            <h1>Velkommen til HOSPI Inc.</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4"></div>
        <div class="col-4">
            <button class="btn btn-outline-info" @onclick="Toggle">@Caption</button>
        </div>
    </div>

    <form @onsubmit="Login">
        <div class="row text-center mt-1">
            <div class="col-4"></div>
            <div class="col-4">
                <input class="form-control input d-inline-block" placeholder="Username" @bind-value="User.Username" @bind-value:event="onchange" required />
            </div>
        </div>
        <div class="row text-center mt-1">
            <div class="col-4"></div>
            <div class="col-4">
                <input class="form-control input d-inline-block" type="password" placeholder="Password" @bind-value="User.Password" @bind-value:event="onchange" required />
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-4"></div>
            <div class="col-4">
                <button class="btn btn-success w-100" type="submit">Login</button>
            </div>
        </div>
    </form>

</div>

@code{

    [CascadingParameter(Name = "User")]
    public UserModel User { get; set; }
    public PatientModel patient { get; set; }
    bool error = false;
    string errorMessage;

    private async void Login()
    {
        Console.WriteLine("Login");
        if (clicked)
        {
            MyNavigationManager.NavigateTo("/Administration/");
        }
        else
        {

            User.Token = await IUserData.Login(User);
            if (User.Token != "" && User.Token != null)
            {
                //User.Password = "";
                User.Role = "Patient";


                if (Http.DefaultRequestHeaders.Contains("Authorization"))
                {
                    Http.DefaultRequestHeaders.Remove("Authorization");
                }
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", User.Token);
                _accountService.Login(User);

                //string cookieJson = JsonSerializer.Serialize<UserModel>(User);
                //await JSRuntime.InvokeVoidAsync("setCookie", "Data", cookieJson, 0, 0, 15);
                //IUserUpdateService.UpdateUser(User);

                MyNavigationManager.NavigateTo("/Journals");
            }
            else
            {
                error = true;
                errorMessage = "Could not login";
                StateHasChanged();
            }
        }
    }

    private string Caption => clicked ? "Patient" : "Ansatte";


    private bool clicked = false;


    private void Toggle()
    {
        clicked = !clicked;
        Console.WriteLine(DateTime.Now);
    }
}

