@page "/profile"
<AuthorizeView>
    <Authorized>
        <h3>Profile</h3>
        <AuthorizeView Roles="Nurse" Context="test">
          <Authorized>
            <p>UserRole @context.User.Claims.Where(c => c.Type == "user_role").Single().Value</p>
          </Authorized>
        </AuthorizeView>
        
        @context.User.
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in context.User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        You are not signed in!
    </NotAuthorized>
</AuthorizeView>