@inherits LayoutComponentBase


@if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
{
    <div class="sidebar">
        <AdminNavMenu />
    </div>
}

<div class="main">
    @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
    {
        <div class="top-row px-4">
            <h4>Velkommen</h4>
            <h4 class="ml-md-auto">Admin</h4> @*REPLACE WITH EMPOYEE NAME*@
        </div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>
