@inherits LayoutComponentBase
    <div class="page">
        <CascadingValue Value="@user" Name="User">

            @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
            {
                <AuthorizeView Roles="0">
                    <Authorized>

                        <div class="sidebar">
                            <NavMenu />
                        </div>

                    </Authorized>
                </AuthorizeView>
                        <div class="sidebar">
                            <NavMenu />
                        </div>

            }

            <div class="main">
                @if (MyNavigationManager.Uri != MyNavigationManager.BaseUri)
                {
                            <div class="top-row px-4">
                                <h4>Velkommen</h4>
                                <h4 class="ml-md-auto">{USER NAME HERE}</h4>
                            </div>
                }
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </CascadingValue>
    </div>

    @code{

        [CascadingParameter]
        private Task<AuthenticationState> authenticationStateTask { get; set; }
        public UserModel user = new UserModel();

    }

    @functions{

        protected async override Task OnInitializedAsync()
        {
            base.OnInitialized();
        }

    }
