<button class="btn btn-primary" @onclick="DeleteYes">
    Yes
</button>
<button class="btn btn-danger" @onclick="DeleteNo">
    No
</button>

@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    async Task DeleteYes()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    async Task DeleteNo() => await BlazoredModal.CancelAsync();
}
