<div class="simple-form">

    <EditForm Model="@newJournal" OnValidSubmit="@SubmitForm" class="d-flex flex-column align-self-baseline">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="intro">Intro</label>
            <InputTextArea @bind-Value="newJournal.Intro" class="form-control" />
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
        </div>
    </EditForm>
</div>



@code {
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public UserModel Patient { get; set; }

    private JournalModel newJournal = new JournalModel();

    private async Task SubmitForm()
    {
        newJournal.Patient = Patient.UserName;
        await BlazoredModal.CloseAsync(ModalResult.Ok(newJournal));
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();
}
